html {
    font-family: 'Quicksand', sans-serif;
}

.container{
    
    border: 4px solid darkred;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 200px;
    width: 100%;
    height: 1000px;
    align-items: center;
   
 
 
    

}

.txt{
    background: pink;
    color: blue;




}

