html {
    font-family: 'Quicksand', sans-serif;
}

.container{
    
    border: 4px solid darkred;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 200px;
    

}

.txt{
    border: 2px solid indianred;
    background: pink;
    color: blue;




}

