html {
    font-family: 'Quicksand', sans-serif;
}

.container{
    background: slateblue;
    border: 4px solid darkred;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;

   
   
    

}

 .container .txt{
    flex-basis: 40px;
    background: pink;
    border: 4px solid goldenrod;
    min-height: 0px;




}

